<div class="home d-flex justify-content-center align-self-center flex-column">
  <div class="container text-center">
    <h1 class="text-white">Who's gonna be your buddy for today ?</h1>
    <%= link_to 'Find out', buddies_path, class: 'btn btn-gradient' %>
  </div>
</div>
